In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('national_supchk.csv')
df = df.dropna(subset=['year','prov_name','prod_type1'],axis=0)
df.reset_index(inplace=True)
df.head()

/Users/wolf/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,3,8,9,10,11,13,14,15,16,17,22,23,27,28,30,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,index,id,company_name,address,prod_id,prod_name,category_4,category_2,prod_detail_name,prod_level,...,prov_name,city_name,district,prod_code,prod_type1,prod_type2,prod_name1,prod_name2,prod_name3,dt
0,0,1.0,海宁卡洛包装材料有限公司,浙江省,13001,复合膜袋,2921.0,29.0,复合膜（袋）,合格品,...,浙江省,嘉兴市,海宁市,29230005.0,29.0,2923.0,包装袋,包装袋,NaN,NaN
1,1,2.0,海宁天利包装有限公司,浙江省,13001,复合膜袋,2921.0,29.0,番茄牛肉汤底（复合膜袋）,合格品,...,浙江省,嘉兴市,海宁市,29230005.0,29.0,2923.0,包装袋,包装袋,NaN,NaN
2,2,3.0,海宁市中茂彩印有限公司,浙江省,13001,复合膜袋,2921.0,29.0,500g泡鸡爪袋(复合膜袋）,合格品,...,浙江省,嘉兴市,海宁市,29230005.0,29.0,2923.0,包装袋,包装袋,NaN,NaN
3,3,4.0,海宁市佳峰彩印包装有限公司,浙江省,13001,复合膜袋,2921.0,29.0,特色鲜葱酥复合包装膜,合格品,...,浙江省,嘉兴市,海宁市,29210002.0,29.0,2921.0,塑料膜,塑料膜,NaN,NaN
4,4,5.0,海宁市利旁塑料包装有限公司,浙江省,13001,复合膜袋,2921.0,29.0,其他类多层复合食品包装袋（内层材质CPP）,合格品,...,浙江省,嘉兴市,海宁市,29230005.0,29.0,2923.0,包装袋,包装袋,NaN,NaN

In [4]:
suk_total=len(df)
suk_uqld=len(df[df['is_qld']=='不合格'])
uqld_rate=round(suk_uqld/suk_total,4)*100
uqld_rate

10.96

In [5]:
options=df["year"].unique(),
options

(array([2019., 2020.]),)

In [19]:
df1=pd.pivot_table(df,index=['prov_name'],values=['id','is_qld'],aggfunc={'id':len,'is_qld':lambda x:(x=='不合格').sum()})
df1.reset_index(inplace=True)
df1['rate']=df1['is_qld']/df1['id']*100
df1.rename(columns={'id':'num','is_qld':'uqld'},inplace=True)
df1

   prov_name    num  uqld        rate
0        上海市   2170   149    6.866359
1        云南省    304    38   12.500000
2     内蒙古自治区    116    20   17.241379
3        北京市    602    41    6.810631
4        吉林省    210    20    9.523810
5        四川省   1345   136   10.111524
6        天津市    613    58    9.461664
7    宁夏回族自治区     61     5    8.196721
8        安徽省   1366   114    8.345534
9        山东省   2990   271    9.063545
10       山西省    310    43   13.870968
11       广东省  10011  1204   12.026771
12   广西壮族自治区    429    48   11.188811
13  新疆维吾尔自治区    125    36   28.800000
14       江苏省   4871   515   10.572778
15       江西省    926   103   11.123110
16       河北省   2295   253   11.023965
17       河南省   1005   140   13.930348
18       浙江省   7339   839   11.432075
19       海南省     94     8    8.510638
20       湖北省    762    70    9.186352
21       湖南省    823   100   12.150668
22       甘肃省    131    18   13.740458
23       福建省   2000   245   12.250000
24     西藏自治区      1     1  100.000000
25       贵州省    288    42   14.583333
26       辽宁省    823    88   10.692588
27       重庆市    632    60    9.493671
28       陕西省    501    61   12.175649
29       青海省     33     2    6.060606
30      黑龙江省    115    16   13.913043

In [20]:
#行业不合格率
df1=pd.pivot_table(df,index=['prod_type1'],values=['id','is_qld'],aggfunc={'id':len,'is_qld':lambda x:(x=='不合格').sum()})
df1.reset_index(inplace=True)
df1['rate']=df1['is_qld']/df1['id']*100
df1.rename(columns={'id':'num','is_qld':'uqld'},inplace=True)
df1

    prod_type1   num  uqld       rate
0         17.0   533    66  12.382739
1         18.0  2473   300  12.131015
2         19.0  1206   201  16.666667
3         20.0   767    74   9.647979
4         21.0   960   212  22.083333
5         22.0  1373    89   6.482156
6         23.0   232     6   2.586207
7         24.0  2114   149   7.048250
8         25.0   400    41  10.250000
9         26.0  3423   264   7.712533
10        29.0  5415   445   8.217913
11        30.0  4193   407   9.706654
12        31.0   653    69  10.566616
13        32.0   929    57   6.135630
14        33.0  2160   281  13.009259
15        34.0  2625   334  12.723810
16        35.0  2131   313  14.687940
17        36.0   619    57   9.208401
18        37.0   355    67  18.873239
19        38.0  9511  1076  11.313216
20        39.0   959   190  19.812304
21        40.0   199    40  20.100503
22        41.0    61     6   9.836066

In [10]:
#产品不合格率
df_prod=pd.pivot_table(df,index=['prod_name1'],values=['id','is_qld'],aggfunc={'id':len,'is_qld':lambda x:(x=='不合格').sum()})
df_prod.reset_index(inplace=True)
df_prod['rate']=df_prod['is_qld']/df_prod['id']*100
df_prod.rename(columns={'prod_name1':'产品名称','id':'抽查次数','is_qld':'不合格数','rate':'不合格发现率'},inplace=True)
df_prod

         产品名称  抽查次数  不合格数     不合格发现率
0    LED电子控制器    66     1   1.515152
1          上衣   575    54   9.391304
2         乒乓球    20     0   0.000000
3        乒乓球拍    15     1   6.666667
4         书写本    82     0   0.000000
..        ...   ...   ...        ...
508       馒头机     2     0   0.000000
509        马达     3     0   0.000000
510       验钞机    52     4   7.692308
511   高分子防水卷材     4     0   0.000000
512        龙头   515    98  19.029126

[513 rows x 4 columns]

In [11]:
rate_selection = st.slider('不合格发现率:',
                          min_value=min(df_prod['不合格发现率']),
                          max_value=max(df_prod['不合格发现率']),
                          value=(min(df_prod['不合格发现率']), max(df_prod['不合格发现率'])))
suk_selection = st.slider('抽查次数:',
                          min_value=min(df_prod['抽查次数']),
                          max_value=max(df_prod['抽查次数']),
                          value=(min(df_prod['抽查次数']), max(df_prod['抽查次数'])))

mask = (df['不合格发现率'].between(*rate_selection)) & (df['抽查次数'].between(*suk_selection))
df_prod[mask]

NameError: name 'st' is not defined